<header>
  <%= image_tag "logo", alt: "Commerce Kitchen Logo", id: "logo" %>
</header>

<div id="crossbar"></div>

<main class="pagewrap">
  <h1 id="tagline">
    <span>Don't just build an app:</span><br/>
    Build your business.
  </h1>

  <section id="what-we-do" class="flex-container">
    <article class="stackable first">
      <h3>
        Commerce Kitchen uses technology
        to build your business.
      </h3>
      <p>
        Whether it's an app, a website,
        or a complex software platform,
        our mission is to work collaboratively,
        create tangible growth,
        and empower your people.
      </p>
    </article>
    <article class="stackable">
      <p>
        We build web and mobile software
        for organizations looking to achieve
        one or more of the following goals:
      </p>
      <ol>
        <li>Increase revenue with new web applications or services</li>
        <li>Reduce costs using software automation or business analytics</li>
        <li>Reduce the financial risk of compliance violations particularly in the finance and healthcare sectors related to PCI, PHI, and HIPAA</li>
      </ol>
    </article>
  </section>

  <section id="contact">

    <h2>Let's Talk Shop</h2>

    <!-- <h3>Have a question or ready to get started? Fill out the form below and we'll be in touch.</h3> -->

    <form>

      <div class="flex-container">
        <div class="stackable">
          <label>Your Name</label><br/>
          <input type="text" name="name" />
        </div>
        <div class="stackable second">
          <label>Your Email</label><br/>
          <input type="text" name="email" />
        </div>
      </div>

      <div class="flex-container">
        <div class="stackable">
          <label>How can we help you?</label><br/>
          <textarea name="message"></textarea>
        </div>
        <div class="stackable second">
          <label>Which is bigger, two or 22?</label><br/>
          <input type="text" name="quiz" />
          <button>Send</button>
        </div>
      </div>

    </form>
  </section>

</main>

<footer>

  <div class="crossbar"></div>

  <div class="pagewrap flex-container">

    <section class="stackable left top" id="awards">
      <h2>Awards</h2>
      <div>
        <a href="http://www.bizjournals.com/denver/news/2015/05/15/denver-business-journals-2015-best-places-to-work.html"><%= image_tag "award-colorado_companies_to_watch", alt: "Denver Business Journal's 2015 Best Places to Work" %></a>
        <a href="http://www.commercekitchen.com/2015/06/colorado-companies-to-watch-winner"><%= image_tag "award-best_places_to_work", alt: "Colorado Companies to Watch, 2015 Winner" %></a>
        <a href="http://www.commercekitchen.com/2014/10/cwcc-award-industry-office/"><%= image_tag "award-small_co_of_the_year", alt: "Colorado Women's Chamber of Commerce: Small Company of the Year, 2014" %></a>
      </div>
    </section>

    <section class="stackable right top" id="partners">
      <h2>Partners</h2>
      <div>
        <a href="http://www.lark-it.com/"><%= image_tag "partner-lark", alt: "Lark IT", class: "partner" %></a>
        <a href="http://annealinc.com/"><%= image_tag "partner-anneal", alt: "Anneal", class: "partner" %></a>
      </div>
    </section>

  </div> <!-- pagewrap flex-container -->

  <div class="crossbar"></div>

  <div class="pagewrap flex-container">

    <section class="stackable left bottom" id="tidings">
      <h2>Tidings</h2>
      <div>
        <img src="" />
        <img src="" />
        <img src="" />
      </div>
    </section>

    <section class="stackable right bottom" id="get-in-touch">
      <h2>Get In Touch</h2>

      <div>
        <address>
          <p>
            600 S Broadway<br/>
            Denver, CO 80209
          </p>

          <a href="tel:+1-303-532-4864">303-532-4864</a>

          <p>
            <a href="http://www.commercekitchen.com/blog/">Blog</a>
            <span class="link-divider">|</span>
            <a href="http://commercekitchen.us1.list-manage1.com/subscribe?u=707465b4382c8e99b15b7b9a7&id=f4e2e7dc13">Get Email Updates</a>
          </p>

          <ul id="social">
            <li>
              <a href="https://twitter.com/CommerceKitchen"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CommerceKitchenInc"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/1582802"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/+Commercekitchen/posts"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/commercekitchen/"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/commercekitchen/"><i class="fa fa-pinterest-p"></i></a>
            </li>
          </ul>
        </address>
      </div>
    </section>

  </div> <!-- pagewrap flex-container -->

</footer>